* {
    margin: 0;
    padding: 4px;
}

body {
    background-color: #111827;
}

#mainContainer {
    /* border: 2px solid green; */
    height: 600px;
    display: flex;

}

#left {
    /* border: 2px solid red; */
    width: 40%;
    height: 100%;
    background-color: #111827;
    color: white;
}

.reset {
    /* border: 2px solid rgb(250, 246, 246); */
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

#logOutBtn {
    border: 2px solid rgb(250, 246, 246);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    /* width: 11%; */
}


.logout-section {
    width: 25%;
    height: 100%;
    text-align: center;
    /* border: 5px solid blue; */
}



#message {
    color: white;
    font-family: sans-serif;
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    /* border: 3px solid brown;  */
}

.game-board {
    width: 99%;
    height: 100%;
    /* border: 1px solid blue; */
}


.gridbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4px;
    column-gap: 0px;
    /* border: 4px solid red; */
}

#board {
    width: 100%;
    height: 100%;
    gap: 5px;
}




#right {
    /* border: 4px solid black; */
    width: 60%;
    height: 100%;
    background-image: url('https://img.freepik.com/free-vector/dialogue-chat-clouds-speech-bubble-icon-from-lines-triangles-particle-style-design-low-poly-technology-devices-people-communication-concept-blue-background_587448-471.jpg?size=626&ext=jpg&uid=R98136452&ga=GA1.1.460052318.1679565869&semt=ais');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#displayMessage {
    overflow-y: auto;
    height: 540px;
   
}

#inputField {
    border: 1px solid black;

}

#messageInput {
    width: 88%;
    /* border: 2px solid orange; */

}

#sendBtn {
    /* border: 2px solid rgb(250, 246, 246); */
    border-radius: 2px;
    color: white;
    width: 11%;
    /* border: 2px solid red; */

}

.identity {
    display: flex;
    justify-content: space-between;

}

.messageBox {
    /* border: 5px solid red; */
    color: white;
    margin: 2%;
    padding: 2% 2%;
    border-radius: 10px 10px;


}

.mainMessage {
    margin-top: -2%;
}

@media (min-width:501px) and (max-width:1200px) {
    #mainContainer{
        display: flex;
        flex-direction: column;
        /* border: 9px solid white; */
    }
    #left{
        width: 100%;
        height: 750px;
        /* border: 2px solid white; */
    }
    #right{
        margin-top: 55px;
        width: 100%;
        height: 550px;
        /* border: 4px solid red; */
    }
    /* #displayMessage{
       border: 4px solid blue;
    } */
    
}

@media (min-width: 0px) and (max-width: 500px) {
    #mainContainer{
        display: flex;
        flex-direction: column;
        /* border: 9px solid white; */
        align-items: center;

    }
    #left{
        width: 100%;
        height: 750px;
        /* border: 2px solid white; */
    }
    #right{
        display: none;
    }
  
}