*{
    margin: 0;
    padding: 4px;
}

#mainContainer{
    border: 2px solid black;
    height: 94vh;
    display: flex;
}

#left{
    border: 2px solid black;
    width: 40%;
    height: 98%;
}
#right{
    border: 2px solid black;
    width: 60%;
    height: 98%;
}

#displayMessage{
    border: 1px solid black;
    overflow-y: auto;
    height: 84vh;
}

#inputField{
    border: 1px solid black;
}

#messageInput{
    width: 88%;
}

#sendBtn{
    width: 8%;
}

.identity{
    display: flex;
    justify-content: space-between;
}

.messageBox{
    border: 1px solid black;
    margin: 2%;
    padding: 0% 2%;
    border-radius: 10px 10px;
}

.mainMessage{
    margin-top: -2%;
}