#mainContent{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,25%);
    font-family: Poppins;
}

.box{
    border-radius: 50px 0px 50px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    padding: 5%;
    margin: 10%;
}

.avatar{
    border-radius: 50%;
    width: 50%;
}

.profileDelete{
    background-color: red;
    border: none;
    padding: 5% 10%;
    border-radius: 20px;
    color: white;
}


#logOutBtn{
    padding: 10px 40px;
    color: white;
    font-weight: bolder;
    background-color: red;
    border: none;
    border-radius: 10px 0px 10px 0px;
}