/* *{
    height: 95%;
    width: 100%;
    background-image: url(../img/tic\ tac\ toe.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
} */

#main-container {
    width: 55%;
    height: 75vh;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* padding: 20px ; */
  }
  
  h1{
    margin-bottom: 10px;
  }
  .input{
    margin-bottom: 10px;
  }
 
  #container {
    display: flex;
  
  }
  
  #signup-logo {
    width: 30%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    background-color: #fbfbfb;
  
  }
  
  #signup-logo>div {
    height: 24vh;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: grey;
    background-color: #fbfbfb;
  
  }
  
  #signup-logo>div h3 {
    margin-bottom: -5px;
    font-size: 16px;
  }
  
  #signup-logo>div img {
    margin-bottom: -10px;
    background-color: #fbfbfb;
  }
  
  #signup-from {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  #form {
    width: 70%;
    margin: auto;
  }
  
  #form label {
  
    margin-bottom: 20px;
    color: grey;
    font-size: 13px;
  }
  
  #form>input {
    width: 80%;
  
    outline: none;
    border: none;
    border-style: none;
    font-weight: bold;
    font-size: 12px;
    color: grey;
    font-weight: 200;
  }
  
  #form button {
    width: 100%;
    height: 45px;
    margin-top: 20px;
    background-color: #ff7757;
    border: 2px solid#fb882b;
    font-size: 17px;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    transition: width 2s;
  
  
  }
  
  #form button:hover {
    height: 46px;
    cursor: pointer;
  }
  
  #form h4 {
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: grey;
    font-weight: 400;
  }
  
  #form a {
  
    text-decoration: none;
    color: #ff7757;
    cursor: pointer;
  
  }
  
  #form label {
    margin-bottom: 15px;
  }
  
  #signup-logo {
    font-size: 14px;
  }
  
  .btn-login {
    padding: 10px 15px;
    background-color: black;
    color: white;
    cursor: pointer;
  }
  
  .overlay {
    width: 100%;
    position: fixed;
    top: 0%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    z-index: -1;
    transition: 1s;
  }
  
  .showoverlay {
    opacity: 1;
    z-index: 1;
  }
  
  .closeoverlay {
    z-index: -1;
    opacity: 0;
  }
  
  .loginform {
    width: 400px;
    height: 300px;
    background-color: white;
    padding: 25px 40px 25px 40px;
    position: absolute;
    transition: 1s;
    left: 50%;
    top: -50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 9;
  
  }
  
  .loginform h4 {
    color: grey;
    font-size: 15px;
  }
  
  .loginform a {
    text-decoration: none;
    color: #ff7757;
    font-size: 13px;
  }
  
  form input {
    outline: none;
    border: none;
  }
  
  .login-line {
    margin-top: -15px;
  }
  
  .loginform button {
    display: inline;
    text-align: center;
    margin-left: 15em;
    font-size: 16px;
    color: white;
    margin-top: 12px;
    width: 10em;
    border-radius: 5px;
  }
  
  .showloginform {
    top: 50%;
  }
  
  .closeloginform {
    top: -50px;
    z-index: 0;
    transition: 3s;
  }
  
  .loginform input {
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
  }
  
  .loginform span {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
    background-color: rgb(230, 89, 89);
    text-align: center;
    line-height: 30px;
    color: white;
    cursor: pointer;
  
  }
  
  button {
    margin-left: 0%;
    padding: 0px 30px;
    border: none;
    height: 42px;
    background: linear-gradient(to right, white, black, black);
    font-family: "Roboto", sans-serif;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  }
  
  .joingame {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 20px;
    margin: auto;
    color: white;
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
    cursor: pointer;
  }
  
  .joingame svg {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    
  }
  
  .joingame span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  .joingame:hover svg {
    transform: translateX(5px) rotate(90deg);
  }
  
  .joingame:hover span {
    transform: translateX(7px);
  }
  
  .container1 {
    /* width: 100%;
    height: 100vh;
    margin: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    margin: auto;
    /* border: 2px solid red; */
  }
  
  #background {
    background-image: url(../cssfile/game.webp);
    padding-top: 20px;
    height: 580px;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    text-align: center;
  }